default: &default
  transport_options:
    request:
      timeout: 30
  bootstrap:
    mlockall: true

development:
  <<: *default
  host: 'http://localhost:9200/'

test:
  <<: *default
  host: 'http://localhost:9250/'
