default: &default
  transport_options:
    request:
      timeout: 30
  bootstrap:
    mlockall: true

development:
  <<: *default
  host: 'http://localhost:9200/'

test:
  <<: *default
  host: 'http://localhost:9250/'

production:
  host: 'http://localhost:9200/'
  user: <%= ENV['ELASTIC_USER'] %>
  password: <%= ENV['ELASTIC_PASSWORD'] %>
